@mixin flex ($direction, $justify, $align, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin gradient {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: $gradient-red;
}

@mixin gradient-gray{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: $gradient-gray;
}

@mixin gradient-violet{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: $gradient-violet;
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }    
} 