.baseLayout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 94%;
    height: 100%;
    @include mobile {
        @include flex (column, space-between, center, wrap)
        width: 100%;
    }
}