.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include mobile {
        width: 100%;
    }
    

    // header  menu

    &__menu {
        position: relative;
        @include flex (row, space-around, center, nowrap)
        @include mobile {
            @include flex (row, space-between, center, nowrap)
            background: $gradient-red;
        }
    }

    .menu {
        @include flex (row, space-between, center, nowrap)
        flex: auto;
        @include mobile {
            display: none;
        }

        &__buttons {
            @include flex (row, space-between, center, nowrap)
        }

        &__list {
            padding: 25px;
            border: 1px solid $litegray;
        }

        &__icon {
            width: 22px;
            height: 22px;
        }


        &__form {
            width: 249px;
            height: 42px;
            padding-left: 50px;
            font-family: $lato;
            font-size: $small;
            font-weight: $regular;
            color: $litegray;
            background: $darkwhite;
            border: 1px solid $litegray;
            border-radius: 20%;
        }
    }

    &__account {
        width: 25%;
        margin-left: 0.1%;
        border: 1px solid $litegray;
        @include mobile {
            @include flex (row, flex-end, left, nowrap)            
            width: 100%;
            margin: 1%;
            border: none;
        }
    }

    &__avatar {
        @include flex (row, left , center, nowrap)
        @include mobile {
            @include flex (row-reverse, right, flex-start, nowrap)
            width: 100%;
        }
    }

    &__photo {
        @include mobile {
            border-radius: 50%;
        }
    }

    &__person {
        @include flex (column, space-around, flex-end, nowrap)
        margin-left: 18px;
        @include mobile {
            @include flex (column, space-between, flex-start, nowrap)
            margin-top: 3%;
        }
    }

    &__name {
        @include gradient
        margin-bottom: 3%;
        font-family: $lato;
        font-size: $medium;
        font-weight: $bold;
        @include mobile {
            @include gradient-gray
            font-size: $huge;
        }
    }

    &__position {
        font-family: $lato;
        font-size: $small;
        font-weight: $regular;
        color: $litegray;
        @include mobile {
            @include gradient-gray
            font-size: $medium;
        }
    }

    &__gamburger {
        position: absolute;
        left: 98%;
        width: 5px;
        height: 5px;
        background: #C1C1C1;
        border: 1px solid #C1C1C1;
        border-radius: 50%;
        @include mobile {
            left: 2%;
            top: 22%;
            width: 15px;
            height: 1px;
            border-radius: 0%;
        }
    }

    &__gamburger::before {
        position: absolute;
        top: 10px;
        left: -1px;
        content: '';
        width: 5px;
        height: 5px;
        background: #C1C1C1;
        border: 1px solid #C1C1C1;
        border-radius: 50%;
        @include mobile {
            top: 6px;
            width: 15px;
            height: 1px;
            border-radius: 0%;            
        }
    }

    &__gamburger::after {
        position: absolute;
        top: -12px;
        left: -1px;
        content: '';
        width: 5px;
        height: 5px;
        background: #C1C1C1;
        border: 1px solid #C1C1C1;
        border-radius: 50%;
        @include mobile {
            top: -8px;
            width: 15px;
            height: 1px;
            border-radius: 0%;            
        }
    }

    // header statistic

    &__statistics {
        @include flex (row, space-between, center, nowrap)
        width: 95%;
        flex: auto;
        @include mobile {
            @include flex (column, space-between, center, wrap)
        }
    }

    .statistic {
        @include flex (row, space-around, center, nowrap)
        flex: auto;
        @include mobile {
            overflow-x: scroll;
        }


        &__container {
            padding-top: 22px;
            padding-bottom: 22px;
            text-align: left;
            @include mobile {
                margin: 3%;
                padding: 0;
                text-align: left;
            }
        }

        &__list {
            margin-bottom: 9px;
        }

        &__header {
            font-family: $lato;
            font-size: $medium;
            font-weight: $normal;
            color: $gray;
        }

        &__main {
            @include gradient
            font-family: $lato;
            font-size: $huge;
            font-weight: $bold;
        }

        &__result {
            font-family: $lato;
            font-size: $small;
            font-weight: $regular;
            color: $litegray;
            @include mobile {
                display: none;
            }
        }

        &__rise {
            position: relative;
            left: 5px;
        }

        &__fall {
            position: relative;
            left: 15%;
        }

        &__rise::before {
            position: absolute;
            left: -5px;
            top: 50%;
            content: '';
            width: 4px;
            height: 4px;
            background: #A889E9;
            
        }

        &__fall::before {
            position: absolute;
            content: '';
            left: -5px;
            top: 50%;
            width: 4px;
            height: 4px;
            background: #FD5670;
        }

        &__action {
            border: none;
        }

        &__button {
            @include gradient
            margin-bottom: 3%;
            font-family: $lato;
            font-size: $medium;
            font-weight: $bold;
            border: none;
        }
    }
}