.main {
    width: 72%;
    display: flex;
    flex: auto;
    flex-direction: column;
    flex-wrap: wrap;
    background: #ECECEC;
    @include mobile {
        width: 100%;
    }

    &__container {
        display: flex;
        flex-direction: column;
        @include mobile {
            flex-wrap: wrap;
        }
    }

    // first box

    &__box {
        @include flex (row, space-around, flex-start, nowrap)
        margin: 2%;
        flex: auto;
        @include mobile {
            @include flex (row, center, center, wrap)
            padding-bottom: 35%;
        }
    }

    // shedule

    &__result {
        position: relative;
        width: 65%;
        background: $white;
        box-shadow: 0 0 3px $darkgray;
        @include mobile {
            margin-top: 5%;
            width: 100%;
            order: 2;
        }
    }

    &__subtitle {
        padding-top: 5%;
        padding-left: 5%;    
        font-family: $lato;
        font-size: $medium;
        font-weight: $normal;
        color: $gray;
    }

    &__period {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    &__button {
        margin: 2%;
        font-family: $lato;
        font-size: $small;
        font-weight: $regular;
        color: $litegray;
        text-decoration: none;
        border: none;
        background: none;
    }

    &__button:hover {
        border-radius: 20%;
        background: $gradient-red;
    }

    &__graph {
        @include flex (column, flex-start, stretch, nowrap)
        position: relative;
    }

    &__axis-y {
        position: relative;
    }

    &__axis-x {
        position: relative;
        @include flex (row, space-around, center, nowrap)
        margin-left: 1%;
    }

    &__list {
        position: relative;
        margin: 5px;
        font-family: $lato;
        font-size: $small;
        font-weight: $regular;
        color: $litegray;
    }

    &__list--y::after {
        content: '';
        position: absolute;
        width: 90%;
        left: 7%;
        height: 1px;
        background: $litegray;
        top: 100%;
    }

    // diagram

    &__revenue {
        @include flex (column, space-between, center, nowrap)
        width: 30%;
        height: 100%;
        background: $white;
        box-shadow: 0 0 3px $darkgray;
        @include mobile {
            order: 1;
            width: 90%;
            margin-top: 3%;
            padding-left: 20%;
            padding-right: 20%;

        }
    }

    &__diagram {
        width: 80%;
        height: 80%;
        background: url(../img/diagram.png) center no-repeat;
        @include mobile {
            padding-top: 3%;
            padding-bottom: 3%;
            width: 130px;
            height: 130px;
        }
    }

    &__difference {
        margin: 5%;
    }

    &__promotion {
        position: relative;
        font-family: $lato;
        font-size: $small;
        font-weight: $regular;
        color: $litegray;
    }

    &__promotion--rise::before {
        position: absolute;
        left: -5px;
        top: 50%;
        content: '';
        width: 0;
        height: 0;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 4px solid #A889E9;
    }

    &__promotion--fall::after {
        position: absolute;
        content: '';
        left: -3px;
        top: 50%;
        width: 0;
        height: 0;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-top: 4px solid #FD5670;
    }

    

    // second box

    // reviews

    &__review-block {
        width: 42%;
        margin-right: 2%;
        padding-bottom: 19px;
        background: $white;
        box-shadow: 0 0 3px $darkgray;
        @include mobile {
            width: 100%;
            margin-top: 20px;
            padding-bottom: 0;
            margin-bottom: -30%;
            order: 2;
        }
    }

    &__reviews {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__review {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .review {

            &__avatar {
                width: 50px;
                height: 50px;
                margin-left: 5px;
            }

            &__text {
                width: 68%;
                padding: 5px;
                font-family: $lato;
                font-size: $small;
                font-weight: $regular;
                color: $litegray;
                background: $darkwhite;
                border: 1px solid $whitegray;
            }

            &__text--main {
                margin-left: 25px;
            }

            &__text--alt {
                position: relative;
                width: 63%;
                margin-left: 27%;
                margin-top: 10px;
            }

            &__text--alt::before {
                content: '';
                position: absolute;
                left: -3%;
                top: 0%;
                width: 3px;
                height: 100%;
                background: $litegray;

            }

            &__person {
                font-family: $lato;
                font-size: $small;
                font-weight: $bold;
                color: $gray;
            }
        }
    }

    &__possibilities {
        width: 56%;
        background: $white;
        box-shadow: 0 0 3px $darkgray;
        @include mobile {
            width: 100%;
        }
    }

    // to do

    &__today-block {
        overflow-y: scroll;
        @include mobile {
            display: flex;
            align-items: center;
            overflow: scroll;
        }
    }

    &__tasks {
        position: relative;
        @include flex (row, space-around, center, nowrap)
        max-width: 95%;
        padding-top: 3%;
        padding-bottom: 3%;

        &:nth-child(2n + 1) {
            background: $whitegray;
        }

        @include mobile {
            flex-direction: column;
            flex-wrap: wrap;
            width: 75%;
            margin-left: 20px;
        }
    }

    &__tasks::after {
        position: absolute;
        content: '';
        top: 5%;
        height: 1px;
        width: 90%;
        background: $litegray;
        @include mobile {
            display: none;
        }
    }

    &__task {
        font-family: $lato;
        font-size: $medium;
        font-weight: $bold;
        @include gradient
        @include mobile {
            margin: 15px;
        }
    }

    &__description {
        font-family: $lato;
        font-size: $small;
        font-weight: $regular;
        color: $litegray;
        @include mobile {
            text-align: center;
        }
    }

    &__time {
        position: relative;
        font-family: $lato;
        font-size: $small;
        font-weight: $bold;
        color: $darkgray;
        @include mobile {
            margin-top: 15px;
        }
    }

    &__time::before {
        position: absolute;
        content: '';
        height: 12px;
        width: 12px;
        left: -40%;
        top: 0;
        background-image: url(../img/main/clock.png);
        @include mobile {
            left: -80%;
            top: -10%;
        }
    }

    // map

    &__map {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        @include mobile {
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    // progress

    &__progress {
        width: 48%;
        margin-top: 3%;
        text-align: center;
        @include mobile {
            width: 100%;
        }
    }

    &__progress-graph {
        @include flex (row, space-around, center, nowrap)
        margin: 5% 10%;
    }

    &__progress-list {
        width: 15px;
        height: 100px;
        border-radius: 25%;
        background: #F6F6F6;

        &:nth-child(1n + 1) {
            background: $gradient-25;
        }

        &:nth-child(2n + 2) {
            background: $gradient-50;
        }

        &:nth-child(3n + 3) {
            background: $gradient-75;
        }
    }

    &__profit {
        font-family: $lato;
        font-size: $big;
        font-weight: $bold;
        @include gradient-violet

    }

    // shipments

    &__shipments {
        position: relative;
        width: 48%;
        margin-top: 3%;
        text-align: center;
        background: url(../img/main/map.png) center no-repeat;
        @include mobile {
            width: 100%;
        }
    }

    &__difference--inline {
        @include flex (row, space-between, center, nowrap)
        margin-top: 55%;
        @include mobile {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__profit--red {
        @include gradient
    }

    &__mark--1 {
        position: absolute;
        top: 20%;
        left: 20%;
    }

    &__mark--2 {
        position: absolute;
        top: 25%;
        left: 25%;
    }

    &__mark--3 {
        position: absolute;
        top: 50%;
        left: 35%;
    }

    &__mark--4 {
        position: absolute;
        top: 54%;
        left: 66%;
    }

    &__mark--5 {
        position: absolute;
        top: 34%;
        left: 33%;
    }

    &__mark--6 {
        position: absolute;
        top: 64%;
        left: 52%;
    }

    &__mark--7 {
        position: absolute;
        top: 25%;
        left: 50%;
    }
}